html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("img/neon.jpg");
    background-repeat:repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    /*font-family: 'Play';*/
    font-family: 'Odibee Sans';
    overflow: auto;
    align-self: center;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    background-color: whitesmoke; /* se a img nao carregar */
}

h4 {
    text-align: center;
    font-family: 'Odibee Sans';
    font-size: 1.5em;
    font-weight: 400;
}

form {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 5%;
    margin-inline-start: 30%;
    margin-inline-end: 5%;
}

.login {
    position: absolute;
    background-color: black;
    opacity:0.9;
    text-align: center;
    height:60%;
    margin-top:10%;
    margin-bottom:5%;
    padding-top:1%;
    padding-bottom:1%;
    width:50%;
    margin-left:20%;
    margin-right:20%;
    padding-left:5%;
    padding-right:5%;
    border-radius:15px;
    color: whitesmoke;
}

.botoes
{
    padding-top: 2%;
    padding-bottom: 0.5%;
    margin-inline-start: 30%;
    text-align: center;
    display: inline-block;
}

.normal
{
    width: 100px;
    height: 40px;
    padding: 5px;
    margin-inline-start: 2px;
    font-family: 'Odibee Sans';
    font-size: 1.3em;
    border-radius: 20px;
    background-color: #351c6e;
    border: none;
    color: white;   
    cursor: pointer;
}

.input_logar {
    font-family: 'Play';
    font-size: 1.2em;
    margin-top: 5px;
    background-color: #191970;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    width: 154px;
    height: 40px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 1 auto 0;
}

.button_cadastrar {
    font-family: 'Play';
    font-size: 1.2em;
    margin-top: 5px;
    background-color: #191970;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px;
    width: 154px;
    height: 40px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 1 auto 0;
}

button:hover {
    background-color: #088ca3;
}

button:disabled {
    background-color: #DDDDDD;
    cursor: not-allowed;
}

#tela {
    width:90%;
    height:95%;
    background-color:black;
    text-align: center;
    position: absolute;
    margin-top:2%;
    padding-top:0%;
    margin-bottom:1%;
    padding-bottom:0%;
    margin-left:3%;
    padding-right:3%;
    border-radius:70px;
    color: whitesmoke;
}

.cabecalho {
    text-align: center;
    margin-top: auto;
}

.titulo {
    font-family: 'Odibee Sans';
    font-size:4em;
    color: whitesmoke;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.lateral {
    width: 15%;
    margin-right: 15%;
    color: whitesmoke;
    font-size: 1.35em;
    text-align: center;
    display: inline-block;
}

#jogo {
    width: 65%;
    height: 65%;
    margin-top: 2%;
    border: solid #FFFFFF 2px;
    position: relative;
    display: inline-block;
}

#play {
    margin: 10%;
    width: 15em;
    height: 15em;
}

#grid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
  
#grid TR TD {
    border:1px solid white;
    background: #999999;
    width: 16px;
    height: 16px;
    text-align: center;
}
  
#grid TR TD.clicked {
    background: #333333;
}
  
#grid TR TD.mine {
    background: #FF0000;
}

#tempo {
    display: inline;
}

#dimensao {
    display: inline;
}

#bombas {
    display: inline;
}

.ranking {
    width: 60%;
    height: 70%;
    margin-right: 20%;
    margin-left: 20%;
    border: 2px solid #f3f0eb;
    font-size: 1.5em;
    text-align: left;
    vertical-align: middle;
    border-collapse:collapse;
    margin-top: 5%;
}

.historico {
    width: 90%;
    height: 70%;
    margin-right: 0%;
    margin-left: 6%;
    border: 2px solid #f3f0eb;
    font-size: 1.5em;
    text-align: left;
    vertical-align: middle;
    border-collapse:collapse;
    margin-top: 5%;
}

th {
    text-align: center;
    font-weight: 200;
}

td {
    font-size: 0.75em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* alternando a cor das linhas na tabela */
tr:nth-child(even) {
    background-color: #6b90f79a;
}

#tela_cadastro {
    width:90%;
    background-color:black;
    text-align: center;
    position: absolute;
    margin-top:2%;
    padding-top:0%;
    margin-bottom:1%;
    padding-bottom:0%;
    margin-left:3%;
    padding-right:3%;
    border-radius:70px;
    color: whitesmoke;
}

.texto {
    width: 50%;
    height: 30px;
    margin-left: 3%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.85em;
    border-radius: 5px;
}

.num {
    width: 45%;
    height: 30px;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.85em;
    margin-top: 5px;
}

.pequeno {
    width: 6%;
    height: 30px;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.85em;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

select {
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%;
    margin-left: 1%;
    width: 15%;
    height: 1.5em;
    text-align: center;
    font-size: .85em;
}

input.normal {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-inline-start: 25%;
    margin-inline-end: 25%;
    display: inline-flex;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding: 5px;
    font-family: 'Odibee Sans';
    font-size: 0.9em;
    border-radius: 20px;
    background-color: #351c6e;
    border: none;
    color: white;   
}

input.normal:hover {
    background-color: #088ca3;
}

input.normal:disabled {
    background-color: #DDDDDD;
    cursor: not-allowed;
}

#test {
    margin-left: 500px;
}

#CanvasNextPiece {
    border: solid #FFFFFF 2px;
}

#proxPeca {
    font-size: 0.875em;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#gambiarra {
    float: left;
    margin-left: 10%;
}

#gambiarratable {
    margin-top: 200%;
}

.box {
    display: inline;
}
